
<h1 class="orderDetailsh1">Order Details</h1>

<table class="mapCol1of2" cellspacing="20">

    <tr>
        <th>Shopkeeper</th>
        <td>{{orderDetails.shopkeeperName}}</td>
    </tr>


    <tr>
        <th>Shop</th>
        <td>{{orderDetails.shopName}}</td>
    </tr>



    <tr>
        <th>Product</th>
        <td>{{orderDetails.ProductName}}</td>
    </tr>

    <tr>
        <th>Quantity</th>
        <td>{{orderDetails.qty}}</td>
    </tr>

    <tr>
        <th>Total Invoice</th>
        <td>Rs. {{orderDetails.qty * orderDetails.ProductPrice}} /-</td>
    </tr>

</table>


<div id="map"></div>